<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmBeyoncé</title>
    <link rel="stylesheet" href="https://use.typekit.net/czz1jkl.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
    <div class="container text-center mt-5">
        <h2>AmBeyoncé</h1>
            <p>Get a Beyoncé song recommendation-- or discover a song by a similar artist!-- based on the current
                weather!
            </p>
            <button class="btn btn-primary" id="get-song-rec-btn" onclick="useGeolocation()">Get Song
                Recommendation</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function useGeolocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    let lat = position.coords.latitude;
                    let lon = position.coords.longitude;

                    $.get(`/get-weather-by-coords?lat=${lat}&lon=${lon}`, function (weatherData) {
                        let temperatureFahrenheit = (weatherData.temperature - 273.15) * 9 / 5 + 32;
                        weatherData.temperature = temperatureFahrenheit.toFixed(0);

                        $.get(`/get-spotify-recommendation?weatherCondition=${weatherData.condition}`, function (songData) {
                            window.location.href = `/results?weather=${encodeURIComponent(JSON.stringify(weatherData))}&song=${encodeURIComponent(JSON.stringify(songData))}`;
                        });
                    }).fail(function (jqXHR, textStatus, error) {
                        console.error('Error:', error);
                        alert('An error occurred while fetching data.');
                    });
                }, function (error) {
                    alert('Error: ' + error.message);
                });
            } else {
                alert('Geolocation is not supported by this browser.');
            }
        }
    </script>
</body>

</html>