<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Spotify Authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/oauth.css">
</head>

<body id="ouath-body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2>Connect with Spotify</h2>
                <p>To get song recommendations based on the weather, please authenticate with your Spotify account.</p>
                <a href="/spotify-connect/" class="btn btn-success" id="spotify-connect-btn">Connect with
                    Spotify</a>
            </div>
        </div>
    </div>
</body>

</html>